.projectsContainer {
    display: flex;
    justify-content: center; /* căn giữa ngang */
    align-items: center;     /* căn giữa dọc */            /* full chiều cao màn hình */
    gap: 40px;
    
    text-align: center;

    .img-project img {
        max-width: 250px;
        align-self: center;
        background-color: #fff;
        border-radius: 20px;
        transition: transform 0.5s ease-in-out;
    }

    a{
        width: fit-content;
        text-decoration: none;
        color: #222;
        
    }

    .img-project:hover img{
        transform: scale(1.05) !important;

        
    }
    .img-project:hover h3, .img-project:hover p {
        color: #007bff; /* Đổi màu chữ khi hover */
        
    }

    
}
@media(max-width:767px){
    .projectsContainer{
        display: flex;
        flex-direction: column;
    }
}